#*
 * Copyright (C) 2008 University of Pittsburgh
 * 
 * 
 * This file is part of Open EpiCenter
 * 
 *     Open EpiCenter is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 * 
 *     Open EpiCenter is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 * 
 *     You should have received a copy of the GNU General Public License
 *     along with Open EpiCenter.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * 
 *   
 *#
<?xml version='1.0' encoding='utf-8' ?>

#macro( polygon_feature_rule $ids $color)
				<Rule>
					<Filter>
						<Or>
#foreach( $id in $ids )
							<FeatureId fid="$geography.$id"/>
#end
						</Or>
					</Filter>
					<PolygonSymbolizer>

						<Fill>
							<CssParameter name='fill'>$color</CssParameter>
							<CssParameter name='fill-opacity'>0.6</CssParameter>
						</Fill>
					</PolygonSymbolizer>
				</Rule>
#end

#macro( point_feature_rule $ids $color)
				<Rule>
					<Filter>
						<Or>
#foreach( $id in $ids )
							<FeatureId fid="$geography.$id"/>
#end
						</Or>
					</Filter>
					<PointSymbolizer>
						<Graphic>
							<Mark>
								<WellKnownName>circle</WellKnownName>
								<Fill>
									<CssParameter name='fill'>$color</CssParameter>
									<CssParameter name='fill-opacity'>0.6</CssParameter>
								</Fill>
								<Stroke>
									<CssParameter name='stroke'>#aaaaaa</CssParameter>
									<CssParameter name='stroke-width'>1</CssParameter>
								</Stroke>
							</Mark>
							<Size>4</Size>
							<Rotation>0</Rotation>
						</Graphic>
					</PointSymbolizer>
				</Rule>
#end

<StyledLayerDescriptor version='1.0.0' xmlns:ogc='http://www.opengis.net/ogc' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xmlns='http://www.opengis.net/sld' xsi:schemaLocation='http://www.opengis.net/sld StyledLayerDescriptor.xsd'>
	<NamedLayer>
		<Name>epicenter:$geography</Name>
		<UserStyle>
			<Name>generated_epicenter_sld</Name>
			<Title>Autogenerated style for epicenter maps</Title>
			<Abstract>Autogenerated filter</Abstract>

			<FeatureTypeStyle>
				#polygon_feature_rule($polygon2, "#feedde")
				#polygon_feature_rule($polygon3, "#fdd0a2")
				#polygon_feature_rule($polygon4, "#fd8d3c")
				#polygon_feature_rule($polygon5, "#e6550d")
				#polygon_feature_rule($polygon6, "#a63603")
				#polygon_feature_rule($polygon99, "#d7191c")

				#point_feature_rule($point2, "#feedde")
				#point_feature_rule($point3, "#fdd0a2")
				#point_feature_rule($point4, "#fd8d3c")
				#point_feature_rule($point5, "#e6550d")
				#point_feature_rule($point6, "#a63603")
				#point_feature_rule($point99, "#d7191c")
				
				<Rule>
					<LineSymbolizer>
						<Stroke>
							<CssParameter name="stroke">#333333</CssParameter>
							<CssParameter name="stroke-width">1</CssParameter>
							<CssParameter name='stroke-opacity'>0.7</CssParameter>
							<CssParameter name="stroke-dasharray">4.0 4.0</CssParameter>
						</Stroke>
					</LineSymbolizer>
#if ($render_labels)
					<TextSymbolizer>
						<Label>
							<PropertyName>NAME</PropertyName>
						</Label>
						<Halo />
						<Font>
							<CssParameter name='font-family'>Arial</CssParameter>

							<CssParameter name='font-style'>Bold</CssParameter>
							<CssParameter name='font-size'>10</CssParameter>
						</Font>
						<Fill>
							<CssParameter name='fill'>#000000</CssParameter>
							<CssParameter name='fill-opacity'>1.0</CssParameter>
						</Fill>
						<VendorOption name="group">yes</VendorOption>
					</TextSymbolizer>
#end
				</Rule>
			</FeatureTypeStyle>
		</UserStyle>
	</NamedLayer>
</StyledLayerDescriptor>

