#*
 * Copyright (C) 2008 University of Pittsburgh
 * 
 * 
 * This file is part of Open EpiCenter
 * 
 *     Open EpiCenter is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 * 
 *     Open EpiCenter is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 * 
 *     You should have received a copy of the GNU General Public License
 *     along with Open EpiCenter.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * 
 *   
 *#
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>EpiCenter</title>
	<link href="#springUrl('/assets/epicenter/css/epicenter.css')" rel="stylesheet" type="text/css" />
	<link href="#springUrl('/assets/ext-2.1/css/ext-all.css')" rel="stylesheet" type="text/css" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
<!--[if lt IE 7]>
	<meta http-equiv="refresh" content="0;URL=unsupported.html" />
<![endif]-->
<script src="#springUrl('/assets/prototype/prototype.js')" type="text/javascript"></script>
<noscript>
	<meta http-equiv="refresh" content="0;URL=unsupported.html" />
</noscript>
<script src="#springUrl('/assets/ext-2.1/ext-base.js')" type="text/javascript"></script>
<script src="#springUrl('/assets/ext-2.1/ext-all.js')" type="text/javascript"></script>

<script type="text/javascript">

	Ext.QuickTips.init();
	
	Ext.form.Field.prototype.msgTarget = "qtip";
	Ext.BLANK_IMAGE_URL = "#springUrl('/assets/ext-2.1/images/default/s.gif')";
	
	Ext.namespace("EpiCenter");
	
	// Create stub functions if FireBug isn't available
	if (!window.console || !console.firebug)
	{
	    var names = ["log", "debug", "info", "warn", "error", "assert", "dir", "dirxml",
		    "group", "groupEnd", "time", "timeEnd", "count", "trace", "profile", "profileEnd"];

    	window.console = {};
    	for (var i = 0; i < names.length; ++i)
        	window.console[names[i]] = function() {}
	}
	
</script>
