#*
 * Copyright (C) 2008 University of Pittsburgh
 * 
 * 
 * This file is part of Open EpiCenter
 * 
 *     Open EpiCenter is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 * 
 *     Open EpiCenter is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 * 
 *     You should have received a copy of the GNU General Public License
 *     along with Open EpiCenter.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * 
 *   
 *#
#parse("header.vm")

<script type="text/javascript">

EpiCenter.PasswordReset = function(){
	
	var token = Ext.urlDecode(document.URL.split("?")[1]).token;
	
	var password = new Ext.form.TextField({
		id: "password",
		fieldLabel: 'New Password',
		name: 'password',
		inputType: 'password',
		allowBlank: false,
		minLength: 5,
		tabIndex: 1
	});
	
	var confirmPassword = new Ext.form.TextField({
		id: "confirmPassword",
		fieldLabel: 'New Password (confirm)',
		name: 'confirmPassword',
		inputType: 'password',
		allowBlank: false,
		minLength: 5,
		tabIndex: 2
	});

	var resetPasswordForm = new Ext.form.FormPanel({
 		border: false,
		labelAlign: 'right',
		buttonAlign: 'right',
		method: 'POST',
		url: 'password-reset.html',
		baseParams: { token: token },
		items: [ password, confirmPassword ]
	});
	
	var dialog = new Ext.Window({
 		width: 400,
 		modal: false,
 		draggable: true,
 		closable: false,
 		plain: false,
 		resizable: false,
 		title: "Reset Password",
 		buttons: [{
 			iconCls: "icon-go",
 			text: "Reset Password",
 			handler: doPasswordReset,
 			tabIndex: 3
 		}, {
			iconCls: "icon-trash",
			text: "Cancel",
			handler: function() {
				window.location = "login.html";
			},
			tabIndex: 4
		} ],
 		items: [ {
 			html: '<div style="text-align: center; padding-top: 10px;"><img src="assets/epicenter/images/hms_logo.png" alt="Health Monitoring Systems"/></div>',
 			border: false,
 			height: 95
 		}, {
 			border: false,
 			bodyStyle: "padding-left: 60px",
 			items: [ resetPasswordForm ] 
 		}, {
 			html: '<div style="padding-top: 5px; text-align: center;" ><span>$appVersion</span></div>',
 			border: false,
 			height: 30
 		} ]
 	});
		
	function doPasswordReset() {
		
		if (resetPasswordForm.getForm().isValid()) {
			if (password.getValue() == confirmPassword.getValue()) {

				resetPasswordForm.getForm().submit({
					waitMsg: 'One moment..',
					reset: false,
					success: function (form, action) {
					
						dialog.hide();
						Ext.MessageBox.show({
							title: "Reset Password",
							msg: "Your password has been reset.  Press OK to return to the login page.",
							modal: true,
							width: 500,
							buttons: Ext.MessageBox.OK,
							icon: Ext.MessageBox.INFO,
							fn: function() {
								window.location = "login.html";
							}
						});
					},
					failure: function() {
						Ext.MessageBox.show({
							title: "Reset Password",
							msg: "We were unable to reset your password.  Press OK to try again or CANCEL to return to the login page.",
							modal: true,
							width: 500,
							buttons: Ext.MessageBox.OKCANCEL,
							icon: Ext.MessageBox.INFO,
							fn: function(btn) {
								if (btn == "cancel") {
									window.location = "login.html";
								}
							}
						});
					}
				});
				
			} else {
				resetPasswordForm.getForm().markInvalid({
					"password": "Passwords do not match.",
					"confirmPassword": "Passwords do not match."
				});
			}
		}
	}
	return {
	
		init: function(){

			if (!token) {
				window.location = "login.html";
			}
			
			Ext.getBody().addClass("horizgradient");
			dialog.show();
		}
	};							
}();	

Ext.onReady(EpiCenter.PasswordReset.init, EpiCenter.PasswordReset, true);

</script>

#parse("footer.vm")

